@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: var(--white);
}
::-webkit-scrollbar-thumb{
  background: var(--star);
}
::-webkit-scrollbar-thumb:hover{
  background: var(--light-gray);
}
@media(prefers-reduced-motion: no-preference){
  *{
    scroll-behavior:smooth;
  }
}
:root{
  --white: #fff;
  --black: #000;
  --star: #ffc700;
  --darker-gray: #323231;
  --charcoal: #2b2b2b;
  --fade63-black: #000000a1;
  --fade10-black: #0000001A;
  --fade50-black: #0000007F;
  --fade0-black: rgba(0, 0, 0, 0);
  --dark-gray: #464646;
  --light-gray: #EBEBEB;
  --lighter-gray: #F8F8F8;
  --off-white: #F6F6F6;
  --light-orange: #FDC19C4F;
  --fade0-white: rgba(255, 255, 255, 0);
  --space-font: 'Space Grotesk', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#root{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  font-family: var(--space-font);
}
nav{
  position: fixed;
  background-color: var(--white);
  box-shadow: 0 4px 21px 0 var(--fade10-black);
}
.nav-item{
  transition: all 0.3s ease-in-out;
}
.nav-item:hover{
  text-decoration: line-through;
  transform: scale(1.2);
}
img{
  width: 64px;
  height: 64px;
}
#service, #feedback{
  background-color: var(--lighter-gray);
}
#home{
  width: 100vw;
}
.service-desc{
  color: var(--fade63-black)
}
.shape{
  border-radius: 50%;
  width: 450px;
  height: 400px;
  background-color: var(--light-orange);
}
.img-container{
  width: 350px;
  height: 500px;
  overflow: hidden;
  transition: all 0.7s ease-in-out;
  transform-origin: bottom left;
}
.profile{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
  transition: transform 0.7s ease-in-out;
}
  .img-container:hover{
    transform: rotate(7deg);
    & .profile{
      transform: rotate(-4.9deg) scale(1.1);
    }
  }
.jv-btn{
  cursor: pointer;
  color: var(--white);
  background-color: var(--darker-gray);
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--black);
  outline: none;
}
  .jv-btn:hover{
    color: var(--black);
    background-color: var(--white);
  }
.project-container{
  width: 400px;
  cursor: pointer;
}
.project-container > a{
  text-decoration: none;
}
  .proj-img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
  }
  .proj-head{
    color: var(--charcoal);
    transition: all 0.5s ease-in-out;
  }
  .proj-desc{
    color: var(--fade63-black);
    font-size: 1rem;
  }
    .project-container:hover img {
      filter: grayscale(0%);
      transform: scale(1.05);
    }
.pen{
  transform: rotate(-90deg);
}
.service-button{
  border: none;
  background-color: var(--light-gray);
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}
.gsBtn{
  border: none;
  background-color: var(--darker-gray);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}
.gsBtn:hover{
  animation: upDown 0.5s infinite alternate;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--fade50-black)
}
.activeBtn{
  background-color: var(--darker-gray);
  color: var(--white);
  transform: scale(1.05);
  transform-origin: top left;
}
.service-img{
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.slide{
  max-height: 530px;
  min-height: 530px;
  box-shadow: 3px 4px 10px 0 var(--fade10-black);
  transition: width 0.5s ease;
  z-index: 1;
}
.review-text {
  flex: 1; /* Allow the text to take up remaining space */
}
.feed-img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
/* Style for the "See more" button (feel free to customize) */
.see-more-container button {
  color: var(--fade50-black);
  background-color:transparent ;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.img-container-form{
  width: 560px;
  height: 730px;
}
#contact-img{
  object-fit: cover;
}
.contact-header{
  font-weight: 900;
}
.contact_form{
  backdrop-filter: blur(8px);
}
.icons{
  border-radius: 50px;
  background-color: var(--light-gray);
  color: var(--dark-gray);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
  .icons:hover{
    background-color: var(--dark-gray);
    color: var(--white);
    animation: rotate-scale 0.65s linear both;
  }
.input-fields{
  outline: none;
  border: 0.03rem solid var(--fade10-black);
  background-color: var(--off-white);
}
.contact-btn{
  border: none;
  background-color: var(--darker-gray);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}
  .contact-btn:hover{
    letter-spacing: 0.3rem;
    color: var(--charcoal);
    background-color: var(--off-white);
    border: 0.03em solid var(--charcoal);
    box-shadow: 0 5px 5px 1px var(--fade50-black);
  }
.foot{
  color: var(--white);
  height: 4rem;
  background-color: var(--fade63-black);
}
.animate_drop{
  animation: drop 3s ease-in-out alternate;
}
@media all and (max-width: 576px){
  .contact_form{
    background: url('../src/assets/images/contacts.jpg');
    color: var(--white);
  }
}
@keyframes drop{
  0%{top: -10%}25%{top: 5%}50%{top: 5%}75%{top: 5%}100%{top: -10%}
}
@keyframes upDown {
  from{transform: translateY(0px);}to{transform: translateY(-10px);}
}
@keyframes rotate-scale {
  0%{ transform: scale(1) rotateZ(0)} 50% {transform: scale(2) rotateZ(180deg);} 100%{transform: scale(1) rotateZ(360deg);}
}
